<div class="row">

    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-action teal white-text center">
                <span class="card-title">Proveedores</span>
            </div>
            <div class="card-content">
                <form>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <input type="text" name="companyName" placeholder="Enter company name">
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input type="text" name="contactName" placeholder="Enter contact name">
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input type="text" name="address" placeholder="Enter address">
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input type="text" name="city" placeholder="Enter city">
                        </div>

                        <div class="card-action">
                            <div class="input-field col s12 m12 l12">
                                <button class="btn left">
                                    Save
                                </button>
                                <button class="btn right red darken-4">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col s12 m12 l8">
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>