<!-- Navbar goes here -->
<nav>
    <div class="nav-wrapper container">
        <a routerLink="/home" class="brand-logo">Muelle 13</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/">
                    <i class="material-icons">notifications<span matBadge="{{ 5 + 8 }}"></span></i>
                </a>
            </li>
            <li>
                <a class='dropdown-trigger' data-target='dropdown1'>
                    <i class="material-icons">person_pin</i>
                </a>
            </li>
        </ul>

        <!-- Dropdown Trigger Account -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#">Profile</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#">Logout</a></li>
        </ul>

        <!-- Sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="#">
                    <i class="material-icons">notifications<span matBadge="{{ 5 + 8 }}"></span></i>Notificaciones
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons">person_pin</i> Cuenta
                </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="waves-effect" routerLink="/songs">Songs</a></li>
            <li><a class="waves-effect" routerLink="/photos">Photos</a></li>
            <li><a class="waves-effect" routerLink="/albums">Albums</a></li>
        </ul>
    </div>
</nav>

<!-- Page Layout here -->
<div class="row">
    <div id="sidenav1" class="col s12 m0 l2 x2">
        <ul class="sidenav-fixed">
            <li><a class="waves-effect" routerLink="/songs">Songs</a></li>
            <li><a class="waves-effect" routerLink="/photos">Photos</a></li>
            <li><a class="waves-effect" routerLink="/albums">Albums</a></li>
        </ul>
    </div>

    <div id="content1" class="col s12 m12 l10 x10">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>